@media screen and (min-width: 767px) and (max-width: 992px) {
    .item {
        height: 550px;
    }
}
@media screen and (min-width: 0) and (max-width: 992px) {
    .admin-btn,
    .cart-button,
    #select-type {
        text-align: center;
        border: none !important;
        box-shadow: 0 0 2px rgba(0,0,0,0.4), 0 0 2px rgba(0,0,0,0.4);
    }
}
@media screen and (min-width: 450px) and (max-width: 768px) {
    .item-img {
        width:80%;
        display: block;
        margin: 0 auto;
    }
    .item {
        height: 600px;
    }
}
@media screen and (min-width: 0) and (max-width: 449px) {
    .item-img {
        width:80%;
        display: block;
        margin: 0 auto;
    }
    .item {
        height: 500px;
    }
}