@import "./variable.scss";
@import "./mixin.scss";
@import "./button.scss";
*{
    font-family: 'Source Serif Pro', serif;
}
body{
    margin: 0;
    padding: 0;
    left: 0;
    margin: 0;
    background: linear-gradient(to left, #8942a8, #ba382f);
}
.content {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.item {
    border: 2px solid black;
    border-radius: 25px;
    overflow: hidden;
    height: 450px;
    padding: 12px;
    position: relative;
    background-color: $black-2;
    color: $white;
}
.item-details {
    padding: $pd-4 0;
}
.item-option {
    position: absolute;
    bottom: 20px;
}

