//Các biến liên quan tới font size
$fs-1:16px;
$fs-2:17px;
$fs-3:20px;
$fs-4:30px;
$fs-5:40px;
$fs-6:50px;
//Các biến liên quan tới màu sắc 
$trans:transparent;
$white:#fff;
$black-1:#000;
$black-2:#2e2f33;
$red:#ba382f;
$purple:#8942a8;
//padding 
$pd-1:4px;
$pd-2:8px;
$pd-3:12px;
$pd-4:20px;
$pd-5:40x;
//margin
$mg-0:0px;
$mg-1:8px;
$mg-2:12px;
$mg-3:20px;
$mg-4:40px

