<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Customer</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- font awe -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- gg font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;700&family=Merriweather:wght@300;400;700&family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,600&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- file css -->
    <link rel="stylesheet" href="/asset/css/style.css" />
  </head>
  <body>
    <header>
      <div class="container d-flex justify-content-between align-items-center">
        <nav class="navbar navbar-light d-block">
          <a class="navbar-brand" href="#">
            Logo
            <!-- <img src="" width="30" height="30" alt="" /> -->
          </a>
        </nav>
        <div class="optional d-block ml-auto">
          <button class="button">Chuyển đến trang admin</button>
          <button class="button">
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
        </div>
      </div>
    </header>
    <section class="content">
      <div class="container">
        <div class="list-customer-item">
          <div class="customer-item card">
            <div class="item-img">
              <img
                class="img-fluid"
                src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-11-pro-midnight-green-select-2019?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=1566954990073"
                alt=""
              />
            </div>
            <div class="item-details">
              <div class="details-title">
                <strong>Product name</strong>
                <button class="button">
                  <i class="fa-solid fa-heart"></i>
                </button>
              </div>
              <div class="details-wrapper mt-2">
                <h6>Lorem ipsum dolor sit amet.</h6>
                <p class="my-0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Labore, sint?
                </p>
              </div>
              <div class="details-footer">
                <span>$400</span>
                <button class="button">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- axios cdn   -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
