<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Customer</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- font awe -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- gg font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;700&family=Merriweather:wght@300;400;700&family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,600&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- file css -->
    <link rel="stylesheet" href="/asset/css/style.css" />
  </head>
  <body>
    <header>
      <div class="container d-flex justify-content-between align-items-center">
        <nav class="navbar navbar-light d-block">
          <a class="navbar-brand" href="#">
            Logo
            <!-- <img src="" width="30" height="30" alt="" /> -->
          </a>
        </nav>
        <div class="optional d-block ml-auto">
          <select name="" id="select-type" onchange="getSameTypeProduct(this)">
            <option value="">Chọn dòng điện thoại</option>
            <option value="iphone">iPhone</option>
            <option value="samsung">Samsung</option>
          </select>
          <button class="button">
            <a href="/admin/view/index.html" class="text-white"
              >Chuyển đến trang admin</a
            >
          </button>
          <!-- Nút giỏ hàng -->
          <button
            type="button"
            class="btn btn-primary button"
            data-toggle="modal"
            data-target="#cart"
            onclick="renderCart()"
          >
            <i class="fa-solid fa-cart-shopping"></i>
          </button>

          <!-- Modal giỏ hàng -->
          <div class="modal fade" id="cart" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Giỏ hàng</h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body cart-body"></div>
                <div class="modal-footer cart-footer">
                  <span>Tổng tiền: 0$</span>
                  <button
                    type="button"
                    onclick="handlePayEvent()"
                    class="btn btn-primary"
                  >
                    Thanh toán
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="content">
      <div class="container">
        <div class="list-customer-item row">
          <div class="col-3">
            <div class="item">
              <div class="item-img">
                <img
                  class="img-fluid"
                  src="https://cdn.tgdd.vn/Products/Images/42/217536/samsung-galaxy-m51-trang-new-600x600-600x600.jpg"
                  alt=""
                />
              </div>
              <div class="item-details">
                <h6>Product name</h6>
                <p>thông số sản phẩm</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <div class="item-option">
                  <span>400$</span>
                  <button>Add</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="item">
              <div class="item-img">
                <img
                  class="img-fluid"
                  src="https://cdn.tgdd.vn/Products/Images/42/217536/samsung-galaxy-m51-trang-new-600x600-600x600.jpg"
                  alt=""
                />
              </div>
              <div class="item-details">
                <h6>Product name</h6>
                <p>thông số sản phẩm</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <div class="item-option">
                  <span>400$</span>
                  <button>Add</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="item">
              <div class="item-img">
                <img
                  class="img-fluid"
                  src="https://cdn.tgdd.vn/Products/Images/42/217536/samsung-galaxy-m51-trang-new-600x600-600x600.jpg"
                  alt=""
                />
              </div>
              <div class="item-details">
                <h6>Product name</h6>
                <p>thông số sản phẩm</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <div class="item-option">
                  <span>400$</span>
                  <button>Add</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="item">
              <div class="item-img">
                <img
                  class="img-fluid"
                  src="https://cdn.tgdd.vn/Products/Images/42/217536/samsung-galaxy-m51-trang-new-600x600-600x600.jpg"
                  alt=""
                />
              </div>
              <div class="item-details">
                <h6>Product name</h6>
                <p>thông số sản phẩm</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <div class="item-option">
                  <span>400$</span>
                  <button>Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- axios cdn   -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../controller/CartItem.js"></script>
    <script src="../controller/Cart.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
